<div class="btn-group mb-3" role="group" aria-label="Zoom test">
    <button type="button" class="btn btn-info" (click)="zoom(-5, 10)">Zoom -5 (x 10 sec)</button>
    <button type="button" class="btn btn-info" (click)="zoomCont(-5)">Zoom -5</button>
    <button type="button" class="btn btn-info" (click)="stop()">Stop</button>
    <button type="button" class="btn btn-info" (click)="zoomCont(5)">Zoom +5</button>
    <button type="button" class="btn btn-info" (click)="zoom(5, 10)">Zoom +5 (x 10 sec)</button>
</div>