<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">
            <img src="favicon-32x32.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <ng-container i18n="@@navBrand">PTZ Camera control</ng-container>
        </span>
        <button class="navbar-toggler" type="button" (click)="navbarCollapsed=!navbarCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" [ngClass]="{'collapse': navbarCollapsed}">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link"
                        [routerLink]="['/presets']"
                        [routerLinkActive]="['active']"
                        i18n="@@navItemPresets">Presets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                        [routerLink]="['/manual']"
                        [routerLinkActive]="['active']"
                        i18n="@@navItemManual">Manual</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>