/*$body-bg: #222;
$body-color: #FFF;

$theme-colors: (
  "primary": #d0e9ff
);*/

@use 'styles.superhero.scss';

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

.navbar {
    margin-bottom: 1rem;
}
